<nav class="navbar-inverse">
    <br>
    <%= link_to "Books And Movies", '/', :class => "title" %>

      <% if current_user %>
          <%=link_to "Movies", 'app/assets/views/movies.html', :class => "current_user1" %>
          <a ui-sref="my-movies" class="menu">My Movies</a>
          <a ui-sref="books" class="menu">Books</a>
          <a ui-sref="my-books" class="menu">My Books</a>
          <%= link_to "Sign out", destroy_user_session_path, :class => "menu", method: :delete %>
      <%else%>
          <%= link_to "Sign In", user_session_path, :class => "current_user" %>
          <%= link_to "Sign Up", new_user_registration_path, :class => "menu" %>
      <% end %> 
</nav>

<br><br><br>
