<!DOCTYPE html>
<html>
<head>
  <title>Books and Movies</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body ng-app="app">

<%= render 'layouts/header' %>

<div class="content">

<% if current_user %>
   <div class="welcome">Hello <%= current_user.email %>!<br><br></div>
<% end %>

<%= content_tag(:div, flash[:error]) if flash[:error] %>
<%= content_tag(:div, flash[:notice]) if flash[:notice] %>
<%= content_tag(:div, flash[:alert]) if flash[:alert] %>

<div ui-view></div>

<%= yield %>
</div>

</body>

<script type="text/javascript">
    window.currentUser = {
        id : "<%=current_user.id if current_user %>",
        movies: <%=[]%>,
        books: <%=[]%>,
        rated_movie_reviews: "<%= 
                                  current_user.rated_movie_reviews.collect do |review|
                                    review.id
                                  end if current_user %>"
    }
</script>

</html>